.box {
    width: 300px;
    height: 500px;
    background-color: grey;
    padding-top: 50px;
    padding-left: 50px;
    position: fixed;
    left: -300px;
}
.box:hover {
    left: 0;
    .box-headline {
        opacity: 0;
    }
    .box-item::before {
        transform: rotate(225deg);
    }
}
.box-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box-item::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: orange;
    display: inline-block;
    margin-right: 15px;
    transform: rotate(45deg);
    transition: transform 1s;
}
.box-link {
    color: white;
    font-size: 30px;
}
.box-link:hover {
    color: orange;
}
.box-headline {
    color: #fff;
    font-size: 30px;
    transform: rotate(270deg);
    position: absolute;
    right: -60px;
    top: 200px;
    opacity: 1;
}